*, *:before, *:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

h1 {
  color: white;
  font-size: 5em;
  text-transform: uppercase;
  padding: .1em .5em;
}

body {
  position: relative;
}

button {
  background-color: blue;
  color: white;
  font-size: 2em;
  margin: .5em;
  padding: .5em;
  display: block;
}

/*The Modal (background)*/
.modal {
    display: none; /* Hidden by defaul*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  Navigation  

#menu ul li {
  margin: 3em;
  list-style: none;
}

#menu ul li a {
  color: white;
  text-decoration: none;
  padding: .5em;
  font-size: 2em;
}

#nav1, #nav4, #nav7 {
  background-color: blue;
}

#nav2, #nav5 {
  background-color: purple;
}

#nav3, #nav6 {
  background-color: green;
}


/*
h1 {
  color: green;
  padding: 5rem;
  font-size: 4em;
  border: black solid 2px;
  margin: 1rem;
}

#mainDIV, #mainDIV2 {
  color: black;
  background-color: green;
  width: 100%;
  padding: 3rem;
  text-align: center;
  font-size: 5em;
}

button {
  font-size: 2em;
  margin: 3rem 0;
  padding: 1rem 5rem;
  text-transform: uppercase;
  background-color: black;
  color: orange;
  border: green 3px solid;
}